.calendar-container {
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    max-height: 450px;
    overflow-y: scroll;
    color: rgb(249, 147, 231);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.calendar-header button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.calendar-header h2 {
    margin: 0;
    font-size: 24px;
}
.calendar-table {
    width: 100%;
    border-collapse: collapse;
}
.calendar-table th, .calendar-table td {
    border: 1px solid rgb(255, 150, 236);
    padding: 10px;
    text-align: center;
}
.calendar-table th {
    background-color: #333;
    color: rgb(37, 0, 30);
}
.calendar-table td {
    height: 100px;
}
.navbar a:nth-child(3){
    background-color: rgb(246, 146, 162);
    color: black;
    opacity: 0.6;
    padding: 0.5em;
}
.navbar a:nth-child(3):hover{
    border:  none;
}