main{
    width: 100vw;
    height: calc(100vh - 73.75px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    padding-left: 1em;
}
.navbar a{
    color: white !important;
}
.login-box{
    padding: 3em;
    background-color: #e6e6e6;
    width: 30em;
}

.login-box h2{
    margin-bottom: 1em !important;
}

.form-floating:nth-child(2){
    margin-bottom: 2em !important;
}

.login-additional{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login-additional span{
    text-decoration-line: underline;
    text-underline-offset: 7px;
    color: rgb(47, 45, 45);
}
.login-additional span:hover{
    text-decoration-line: underline;
    text-decoration-color: pink;
}
.login-additional span a:hover, .login-additional span a:visited, .login-additional span a:active{
    color: rgb(47, 45, 45);
}


input[type="submit"]{
    background-color: pink;
    font-size: 1.2em;
    width: 100%;
    margin-top: 2em;
    padding: 0.5em;
}

/* .login-additional a:visited{
    color: rgb(47, 45, 45) !important;
} */