/* @font-face {
    font-family: main_font;
    src: url(/fonts/NunitoSans_7pt_Condensed-Light.ttf);
} */
a, a:visited, a:active{
    text-decoration: none !important;
    color: black;
}
.navbar{
    z-index: 1;
    color: white;
    transition: border 1s;
    display: flex;
    flex-direction: row;
    gap: 2em !important;
    justify-content: flex-start !important;
    font-size: 1.1em;
    padding: 1em;
    height: 10vh;
}
.navbar a, .navbar a:visited, a:active{
    color: white;
}
.navbar a:hover{
    border-bottom: 1px solid white;
}