body{
    overflow-x: hidden !important;
    /* background-color: red; */
}

.navbar a:nth-child(6){
    background-color: rgb(246, 146, 162);
    color: black;
    opacity: 0.6;
    padding: 0.5em;
}
.navbar a:nth-child(6):hover{
    border:  none;
}

main{
    width: 100vw;
    height: calc(100vh - 73.75px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4em;
}

.navbar{
    padding-left: 2em;
}

.profile-box{
    padding: 1em;
    padding-right: 0 !important;
    width: 90%;
    margin-top: 3em;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    background-color: #e6e6e6;
    /* opacity: 0.9; */
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 18em;
    border-right: 1px solid rgb(199, 201, 202);
}
.profile-image{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgb(199, 202, 204);
    padding-bottom: 1em;
}
.profile-image img{
    /* border: 6px solid lightblue; */
    /* padding: 0.3em; */
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image:hover .profile-edit-image-button{
    display: flex;
}

.profile-edit-image-button{
    display: none;
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 27.5%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgb(235, 233, 233);
    font-size: 0.7em;
}

.profile-subinfo{
    /* background-color: white; */
    margin-top: 2em;
    border-radius: 5px;
    padding: 1em;
}

.profile-tasks{
    width: calc(100% - 18em);
    padding-bottom: 1em;
}
.profile-tasks-title h3{
    /* background-color: rgb(136, 141, 143); */
    text-align: center;
    padding: 1em;
}
.profile-tasks-content{
    height: calc(100% - 89.6px);
    background-color: #dddada;
    padding-top: 4em;
    padding-bottom: 2em;
}
.profile-tasks-content .tasks{
    width: 33%;
    padding-left: 1em;
}
.profile-tasks-content .tasks-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-task-button{
    display: flex;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: none;
    border-right: 1px solid rgb(136, 141, 143);
    background-color: transparent;
}

.tasks-space{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task{
    background-color: white;
    width: 90%;
    border-radius: 5px;
}
.task-title{
    padding-top: 0.5em;
    padding-left: 0.5em;
    display: flex;
    justify-content: flex-start;
    gap: 0.4em;
}
/* .task-title div{
    display: flex;
    justify-content: flex-start;
    gap: 0.4em;
} */
.task-color-category{
    display: flex;
    padding-left: 0.5em;
    gap: 0.5em;
}
.task-color{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}
.task-category{
    background-color: pink;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
}

p{
    margin-bottom: 0 !important;
}
.task-due-date{
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tasks:first-child .task-title span i{
    color: rgb(164, 160, 160);
}
.tasks:nth-child(3) .task-title span i{
    color: lightgreen;
}   
.tasks:nth-child(2) .task-title span i{
    color: rgb(69, 144, 230);
}   

.tasks-space .task:hover{
    box-shadow: -2px 0px 27px 7px rgba(196, 191, 196, 0.4);
}

.add-task-button-check{
    display: none;
}
.delete-task-button{
    display: none;
}
.add-task-button-check i{
    font-size: 1em;
}
.tasks-space:first-child .task:hover .add-task-button-check, .tasks-space:nth-child(2) .task:hover .add-task-button-check{
    display: flex !important;
    width: 1.5em;
    height: 1.5em;
    color: white;
    justify-self: end;
    background: transparent;
    border: none;
    background-color: rgb(81, 231, 81);
    margin-top: 0.5em;
    margin-right: 0.5em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}
.tasks-space .task:hover .delete-task-button{
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-bottom: 0 !important;
    height: 20.8px;
    width: 20.8px;
}
.delete-task-button i{
    color: red;
    font-size: 1.5em;
}
.delete-task-button:active, .add-task-button-check:active{
    border: none;
}
.task-due-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-inner{
    justify-content: space-between;
}

.main-img{
    background-image: url("/img/pinkdesk.png");
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
    z-index: -1;
}

.page-darken, .popup{
    visibility: hidden;
}
.active{
    visibility: visible !important;
}
.page-darken{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 2;
}

.popup{
    position: fixed;
    top: 5%;
    bottom: 10%;
    left: 30%;
    right: 25%;
    width: 40em;
    height: 40em;
    margin-bottom: 4em;
    background-color: #e6e6e6;
    border-radius: 5px;
    z-index: 3;
}

.popup-animation{
    top: -700px;
    animation: drop 0.7s ease-in-out forwards;
}

@keyframes drop {
    0%{opacity: 0;}
    70%{transform: translateY(800px);}
    100%{transform: translateY(750px); opacity: 1;}
}

.date label{
    margin-bottom: 0 !important;
}
.date:first-child label, .date:first-child input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.date:nth-child(2) label, .date:nth-child(2) input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.date:first-child label{
    border-right: 0;
}
.date:nth-child(2) label{
    border-left: 0;
}
.date:first-child label{
    border-bottom-left-radius: 0;
}
.date:first-child input{
    border-top-left-radius: 0;
}
.date:nth-child(2) label{
    border-bottom-right-radius: 0;
}
.date:nth-child(2) input{
    border-top-right-radius: 0;
}

.popup-buttons button, .popup-buttons input{
    border: none;
    padding: 1em 2em 1em 2em;
    width: 49%;
    border-radius: 5px;
    font-size: 1.1em;
}
.popup-buttons input{
    background-color: pink;
}
.popup-buttons button{
    background-color: rgb(234, 145, 145);
}

.popup-buttons button:hover, .popup-buttons input:hover{
    filter: brightness(90%);
}