.navbar {
    padding-left: 1em;
}

body {
    overflow-y: scroll !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url("../img/pinkdesk.png");
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    margin-top: 2em;
    padding: 2em;
    background-color: #e6e6e6;
    width: 30em;
}

input[type="submit"]{
    background-color: pink;
    font-size: 1.2em;
    width: 100%;
    margin-top: 2em;
    padding: 0.5em;
}

.register-box h2{
    margin-bottom: 1em;
}

.register-checkboxes{
    padding: 1em;
}