.navbar a:nth-child(2){
    background-color: rgb(246, 146, 162);
    color: black;
    opacity: 0.6;
    padding: 0.5em;
}
.navbar a:nth-child(2):hover{
    border:  none;
}

main{
    width: 100vw;
    height: calc(100vh - 73.75px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.todo-list-box{
    opacity: 0.8;
    margin-top: 3em;
    padding: 1em;
    background-color: #e6e6e6;
    width: 80%;
}