.navbar a:nth-child(4){
    background-color: rgb(246, 146, 162);
    color: black;
    opacity: 0.6;
    padding: 0.5em;
}
.navbar a:nth-child(4):hover{
    border:  none;
}

.avatar-container {
    vertical-align: middle;
    width: 1000px;
    max-height: 1000px;
    overflow: scroll;
    border:0cap;
    background-color: blue;
  }

.avatar {
    position: absolute;
    left: 0px;
    width: 220px;
    height: 220px;
    clip-path: circle(30%);
  }