.navbar a:nth-child(4){
    background-color: rgb(246, 146, 162);
    color: black;
    opacity: 0.6;
    padding: 0.5em;
}
.navbar a:nth-child(4):hover{
    border:  none;
}
body
{
}
.all-user
.avatar-container {
    height: 100%;
  }

  .user-container
  {
    vertical-align: middle;
    width: 1000px;
    height: 230px;
    border:10px dotted pink;
    fill:aqua;
    background-color: rgb(173, 240, 255);
    border-radius: 10px;
    margin-top: 30px;
  }

.avatar {
    position: absolute;
    left: 0px;
    width: 220px;
    height: 220px;
    clip-path: circle(30%);
  }

  .user-features-container
  {
    vertical-align: middle;
    text-align: center;
  }
  